@charset "UTF-8"; 

.band-txt {
 	color: white;
 	background-color:black;
 	margin:0.25vh; /* for needed gap between band name spans, but may be adding double margin between band name and extra, bad production*/ 
 	vertical-align: baseline; /* for <small> text  when centered aligned, be on bottom line*/
 	padding: 5px;
 	border-radius:3px;
}

/* Use flex, easier. All the requirement is is vertical stacking */
/* of the band name parts without using breaks (no gap and odd corners not abiding by radius otherwise) */
/* but basic display and block was unclear on how to stop background stretching */ 
 .band-name h1 {
 	display:flex;
 	flex-direction:column;
 }
 
 h1 span {
    align-self: flex-start; /* Prevents full-width stretching i.e background fit to text */
}